.wrap {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1240px;
  background: skyblue;
  margin: 0 auto;
}
/* 반응형 기초 */
@media screen and (max-width: 1280px) {
  .wrap {
    width: 90%;
  }
}

.main {
  position: relative;
  display: block;
  background: hotpink;
}
.slide {
  position: relative;
  display: block;
  height: 200px;
  background: orange;
}
.community {
  position: relative;
  display: block;
  background: rgb(18, 157, 176);
}

.community .inner {
  display: flex;
}

@media screen and (max-width: 640px) {
  .community {
    height: auto;
  }
  .community .inner {
    display: block;
  }
}

.community-notice {
  width: 33%;
  min-height: 300px;
  background: rgba(0, 0, 0, 0.5);
}
.community-banner {
  width: 33%;
  min-height: 300px;
  background: rgba(0, 0, 0, 0.1);
}
.community-link {
  width: 34%;
  min-height: 300px;
  background: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 640px) {
    .community-notice {
        width: 100%;
    }
    .community-banner {
        width: 100%;
    }
    .community-link {
        width: 100%;
    }
}