@import "variables";
@import "mixin";
@import "header";
@import "footer";

.wrap {
  position: relative;
  @include bt(red);
  background: green;
  .main {
    position: relative;
    .slide {
      position: relative;
    }
    @media screen and (max-width: $min-mobile-screen) {
      .slide {
        position: absolute;
      }
    }
  }
}

@media screen and (max-width: $wide-screen) {
  .wrap {
    position: relative;
  }
}
@media screen and (max-width: $pc-screen) {
  .wrap {
    position: relative;
  }
}

@media screen and (max-width: $notebook-screen) {
  .wrap {
    position: relative;
  }
}

@media screen and (max-width: $tablet-screen) {
  .wrap {
    position: relative;
  }
}

@media screen and (max-width: $mobile-screen) {
  .wrap {
    position: relative;
  }
}

@media screen and (max-width: $min-mobile-screen) {
  .wrap {
    position: relative;
  }
}
